<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>综合练习_首页</title>
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/app.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<script src="../js/jquery.js"></script> 
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../app/app.js"></script>
</head>
<body>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p style="color:brown;font-size:28px;font-weight:bold;">【实拍】北京玉渊潭公园：成双成对秀恩爱的鸳鸯 - 夏风秋云的日志</p>
			<p>2017-04-13 20:19:13|  分类： 动物世界 |  标签：美丽北京  春暖花开  动物世界  玉渊潭公园  鸳鸯  </p>
			<br/><br/>
			<image src="../images/jianjie1.jpg"><br/><br/><br/><br/>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;鸳鸯，不是一只鸟，而是一对雄雌鸟的合称。鸳是雄鸟，鸯是雌鸟，一对雄雌结合的才叫鸳鸯。 </p><br/><br/><br/><image src="../images/jianjie2.jpg"><br/><br/><br/><br/>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 如何区分鸳鸯呢？其实很简单，块头大、长得好看的那只是雄鸟，块头小、灰褐色那只是雌鸟。雄性动物长得好看容易吸引异性，看来在动物界也适用。  </p><br/><br/><br/><br/><image src="../images/jianjie2.jpg">
		</div>
	</div>
</div>
</body>
</html>